<!DOCTYPE html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=<%= GOOGLE_ANALYTICS%>"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '<%= GOOGLE_ANALYTICS%>');
</script>
	<title>Curriculum Vitae</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<meta charset="utf-8">	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>

</head>
<body>
<div class="todo">
   <div class="datos">
   	<img class="cara" src="images/foto.png" alt="Foto de mi cara" align="middle">
   	<h3>Datos Personales</h3>
   	<hr>
   	<p><strong>Cedula de Indentidad </strong><br> V-30.276.873.<br>
	<strong>Fecha de Nacimiento </strong><br>10 de Octubre del 2003.<br>
	<strong>Dirección </strong><br>Casa N°9, Calle 3 Oscar Morgado, Las Mercedes, Villa de Cura, Estado Aragua.</p>
   	<h3>Contacto</h3>
   	<hr>
   	<nav>
		<a href="https://api.whatsapp.com/send?phone=04124613298" target="_blank" rel="noopener noreferrer"><img src="images/ws.png" width="30px" alt="Logo de whatsapp" align="middle"> Whatsapp</a><br>
		<a href="mailto:florida3437@gmal.com?subject=Me interesa solicitar tu servicios&"><img src="images/correo.png" width="30px" alt="Logo de Gmail" align="middle"> Gmail</a><br>
		<a href="https://www.facebook.com/josejulian.castilloh" target="_blank" rel="noopener noreferrer"><img src="images/facebook.png" width="30px" alt="Logo de facebook" align="middle"> Facebook</a><br>
		<a href="https://www.instagram.com/josejcastilloh/?hl=es" target="_blank" rel="noopener noreferrer"><img src="images/instagram.png" width="30px" alt="Logo de instagram" align="middle"> Instagram</a>
	</nav>
   </div>
   <div class="sobre">
   	<h1><b>Jose Julian Castillo Hernandez</b></h1>
   	<h3>Sobre mí</h3>
   	<hr>
   	<p>Programador principiante, sin experiencia laboral (nunca he trabajado para una empresa o comercio, etc). Dispuesto a dar el mejor desempeño posible. Con poca experiencia de trabajo por propia cuenta, en el mantenimiento de PC, la instalación de software y sistema operativo.</p>
   	<h3>Educación</h3>
   	<hr>
   	<p><strong class="estudio">Bachillerato (2015-2020)</strong><br>U.E.N Alberto Smith, ubicado en Villa de Cura, Estado Aragua.<br>
	<strong class="estudio">Ingeniería en Informáitca (2020-En Progreso)</strong><br>Universidad Nacional Experimental Rómulo Gallegos, ubicado en San Juan de los Morros, Estado Guarico.</p>
   	<h3>Habilidades y Destrezas</h3>
   	<hr>
   	<p><ul>
		<li>Dispuesto al trabajo en equipo.</li>
		<br>
		<li>Flexibilidad y adaptación.</li>
		<br>
		<li>Conocimientos en los lenguajes de programación :</li>
		<br>
		<label for="skill"><img src="images/html.png" width="40px" alt="Logo de html" align="middle"><strong>HTML</strong></label>
		<progress value="45" min ="0" max="100" id="skill"></progress>
		<br>
		<label for="skill"><img src="images/css.png" width="40px" alt="Logo de CSS" align="middle"><strong>CSS</strong></label>
		<progress value="25" min ="0" max="100" id="skill"></progress>
		<br>
		<label for="skill"><img src="images/JS.png" width="40px" alt="Logo de JavaScript" align="middle"><strong>JavaScript</strong></label>
		<progress value="20" min ="0" max="100" id="skill"></progress>
		</ul></p>
   	<h3>Experiencia Laboral</h3>
   	<hr>
   	<p>Sin experiencia laboral</p>
   	<h3>Formulario de Contacto</h3>
   	<hr>
   	<form class="formulario" method='post'action='/'class="form">
		<input class="controls" type="text" name="nombre"  placeholder="Ingrese su Nombre" value="<%= ct.nombre%>" required="true">
		<input class="controls" type="email" name="email"  placeholder="Ingrese su Email" value="<%= ct.email%>"required="true">
		<textarea class="controls" name="comentario"  cols="30" rows="7" placeholder="Ingrese un Comentario" value="<%= ct.comentario%>" requerid="true"></textarea>
        <input type="hidden"  value="<%= ct.fecha%>">
        <input type="hidden"  value="<%= ct.ip%>">
        <input type="hidden" value="<%= ct.pais%>">
        <div class="g-recaptcha" data-sitekey="<%= CLAVE_RECAPTCHA%>"></div>
		<input class="botons" type="submit" name="Enviar" value="Enviar">
	</form>
   </div>
</div>
</body>
</html>